.tools_page_mcit-server-info-history .manage-column.column-ID {
    width: 60px;
}
.editor-toolbar.fullscreen, .CodeMirror-fullscreen, .editor-preview-side {
    z-index: 99999;
}
.editor-preview-side img, .editor-preview img {
    max-width: 100%;
}
.editor-toolbar i.separator {
    margin-top: 8px;
}
.wrap h1.wp-heading-inline {
    padding-bottom: 15px;
}
.tablenav.top {
    display: none;
}
.closeinlineedit {
    margin-left: 10px !important;
}
.button-link.inline {
    line-height: 2em;
    margin-left: 10px;
}
.button-link .dashicons {
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 5px;
}
.mcit-status {
    font-weight: bold;
}
.mcit-status.red {
    color: #d30000;
}
.mcit-status.green {
    color: #00ac00;
}
.mcit-status.yellow {
    color: #ffc400;
}
.mcit-code-editor-container .CodeMirror, 
.mcit-code-editor-container textarea  {
    width: 100%;
    min-height: 60vh;
    height: calc(100vh - 295px);
    border: 1px solid #ddd;
    box-sizing: border-box;
}
#mcit_message {
    position: relative;
}